.bigtable { font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif; }

body { background: #F8F8F8; }

.bdt_colhdr_wrapper, .bdt_rowhdr_wrapper {
    font-size: 14px;
    font-weight: bold;
    color: #4f6b72;
    letter-spacing: 2px;
    text-align: left;
}

.bdt_colhdr, .bdt_rowhdr {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(../img/bg_header.jpg) no-repeat;
}

.bdt_cnt_cell {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    font-size: 14px;
    padding: 6px 6px 6px 12px;
}

.bdt_evenrow {
    background: #F5FAFA;
    color: #797268;
}

.bdt_oddrow {
    background: white;
    color: #4f6b72
}

.bdt_cnt_canvas { background: #F5FAFA; }
.bdt_rowhdrs_canvas, .bdt_colhdrs_canvas { background: #DBEBED; }

/* optional corner rounding... */
.bdt_colhdrs { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.bdt_rowhdrs { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }